/* Frame 29 */
.container {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  gap: 40px;

  position: absolute;
  width: 620px;
  height: 432px;
  left: calc(50% - 620px / 2);
  top: calc(50% - 432px / 2);

  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 0px 14px rgba(217, 217, 217, 0.5);
  border-radius: 12px;
}

.textContainer {
  /* Frame 34 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1px;

  width: 343px;
  height: 136px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.smallText {
  /* 꾸준히가 가능한 필사, 000 */

  width: 214px;
  height: 24px;

  /* font-family: 'Pretendard'; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #666666;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mediumText {
  /* 필사에 관심 있는 누구나 필사로 이루고 기록하고 배워요. */

  width: 360px;
  height: 88px;

  /* font-family: "Pretendard"; */
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  /* or 157% */
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.link {
  text-decoration-line: none;
}

.buttonContainer {
  /* Frame 31 */
  cursor: pointer;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 52px;

  width: 400px;
  height: 26px;

  background: #f5e14b;
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buttonText {
  /* 카카오로 3초만에 시작하기 */
  margin: 0 auto;
  width: auto;
  height: 19px;
  /* font-family: "Pretendard"; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: #131313;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
